provider_installation {

  dev_overrides {
    "microsoft/power-platform" = "/go/bin"
    "hashicorp/azuread" = "/go/bin"
    "hashicorp/azurerm" = "/go/bin"
    "hashicorp/random" = "/go/bin"
    "hashicorp/local" = "/go/bin"
    "hashicorp/null" = "/go/bin"
    "aztfmod/azurecaf" = "/go/bin"
  }

  # For all other providers, install them directly from their origin provider
  # registries as normal. If you omit this, Terraform will _only_ use
  # the dev_overrides block, and so no other providers will be available.
  direct {}
}
