# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.cov.html

.DS_Store
bin

# Local .terraform directories
**/.terraform/*
**/vendor/*

# terraformlocal tfstate and vars files
*.tfplan
*.tfvars

# .tfstate files
*.tfstate
*.tfstate.*

.terraform.lock.hcl
.terraform

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
#.terraformrc
#terraform.rc
#terraform

terraform-provider-power-platform
*/terraform-power-platform-cli

site
*.cache

# Ignore all files generated during running tests
test_solution*.zip
test_settings*.json
test_solution*.json
**/solution/*.zip
junit.xml

# Ignore all files generated during debugging
*.log
*.log.json
*.log.json.bak

*__debug_bin*

# makefile
makefile

# MSI files
*.msi

coverage.out
examples/temp

.userstory.prompt.md

mitmproxy.dump
