---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
description: |-
  {{ .Description }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Data Record is a special type of a resources, that allows creation of any type Dataverese table record. The syntax for working with `data_record` resource is simmilar to raw WebAPI HTTP requests that this record uses:

- [WebAPI overview - Power Platform | Microsoft Learn](https://learn.microsoft.com/en-us/power-apps/developer/data-platform/webapi/overview)

## Example Usage

### Business Units

{{tffile "examples/resources/powerplatform_data_record/business_unit/resource.tf" }}

### Application User

{{tffile "examples/resources/powerplatform_data_record/application_user/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{codefile "shell" .ImportFile }}
{{- end }}
