name: Release Preparation
on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  prepare-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Required for committing changes and creating tags
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          ref: main
          ssh-key: ${{ secrets.DEPLOY_KEY }}

      - name: Setup Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Install Changie
        run: go install github.com/miniscruff/changie@latest

      - name: Batch and Merge Changelog
        run: |
          echo "previous_version=v$(changie latest)" >> $GITHUB_OUTPUT
          changie batch auto
          changie merge
          echo "new_version=v$(changie latest)" >> $GITHUB_OUTPUT

      - name: Commit Changelog Changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "Merge changelog entries for v$(changie latest) release
          >
          >
          skip-checks: true" || echo "No changes to commit"
          git push origin main

      - name: Create and Push Release Tag
        run: |
          VERSION="v$(changie latest)"
          git tag -a $VERSION -m "Release $VERSION"
          git push origin $VERSION
